extends layout 

block layout-content 
    div.w-95.mx-auto.mt-4
        a.btn.float-end.p-0(href="./logout")
            i.far.fa-sign-out.text-secondary.fa-2x
        a.btn.float-end.p-0.mx-3(href="./settings")
            i.far.fa-cog.text-secondary.fa-2x
        h1.p-0.m-0.text-secondary #{userData.name}'s notes
        a.btn.my-3.p-0.rounded-circle.border.border-2.border-primary.text-primary.text-center(href="./document")
            i.far.fa-plus.fa-lg.m-2.align-middle.text-center
        .sortable.user-select-none#sortable
            each document in Object.keys(userData.documents)
                .w-75.drag(id="doc"+document)
                    hr.p-0.m-0
                    .my-3.d-flex.align-middle(id=document)
                        .m-0.py-2.d-inline
                            i.fas.fa-bars.me-3.ms-1.handle(style="transform: scale(1.25,1);")
                            | #{userData.documents[document].name}
                            - let redirect = "./document?id=" + document
                        .flex-grow-1
                        .m-0.p-0.d-flex-inline
                            a.btn.p-0.my-1.mx-2(href=redirect) 
                                i.far.fa-edit.text-secondary.fa-lg
                            a.btn.p-0.my-1.mx-2(onclick="deleteDoc(" + document + ")", id="delete" + document)
                                i.far.fa-trash-alt.text-danger.fa-lg
        if Object.keys(userData.documents).length != 0
            .my-3.invisible#noneLeft
                hr.w-75
                | No Documents Yet!
        else
            .my-3#noneLeft
                hr.w-75
                | No Documents Yet!
    script(src="./dragManager.bundle.js")
    script(src="./documentManager.js") 
    script
        | numOfDocs = !{Object.keys(userData.documents).length}